.questionnaire-container {
  width: 90%;
  display: flex;
  max-width: 840px;
  border-radius: 4px;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
}

.progressbar-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #e0e0e0;
}

.progressbar {
  height: 5px;
  border-radius: 4px;
  background-color: #2aa6d0;
}

.questions-container {
  max-width: 680px;
  text-align: start;
  align-self: center;
  padding: 40px 25px;
  justify-self: center;
}

.questions-container h1 {
  font-size: 32px;
  max-width: 450px;
  font-weight: 400;
  color: rgb(42, 166, 208);
}

@media screen and (max-width: 430px) {
  .questions-container h1 {
    font-size: 24px;
  }
}

.question-1-options {
  grid-template-columns: 1fr 1fr;
}

.question-1-image {
  width: 240px;
  height: 200px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .question-1-image {
    height: 128px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 430px) {
  .question-1-options {
    grid-template-columns: 1fr;
  }
}

.question-1-button {
  width: 100%;
  color: white;
  padding: 15px 0px;
  border-radius: 2px;
  background-color: rgb(49, 167, 207);
}

.question-2-heading {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.question-2-input {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  grid-template-columns: 1fr;
}

.question-2-input > small {
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.question-2-input > input {
  outline: 0;
  width: 330px;
  padding: 1em;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
  max-width: 330px;
  line-height: 1em;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #999;
}

@media screen and (max-width: 430px) {
  .question-2-input > input {
    width: 100%;
  }
}

.question-2-buttons > button {
  outline: 0;
  width: 100%;
  color: white;
  display: block;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  max-width: 330px;
  text-align: center;
  border-radius: 2px;
  line-height: 1.1em;
  margin: 0 auto 15px;
  text-transform: capitalize;
  background-color: #2aa6d0;
}

.btn-back {
  color: #09c;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}

.question-3-heading {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .question-2-heading,
  .question-3-heading {
    font-size: 25px;
  }
}

.question-3-buttons {
  gap: 15px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.question-3-buttons > button {
  width: 100%;
  color: white;
  max-width: 330px;
  line-height: 1.2;
  padding: 15px 10px;
  border-radius: 2px;
  background-color: #2aa6d0;
  border: 0.8px solid rgb(51, 51, 51);
}

@media screen and (max-width: 430px) {
  .question-3-buttons > button {
    max-width: 100%;
  }
}

.question-4-heading {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.question-4-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: center;
}

.question-3-slider > input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  background: #ccc;
  border-radius: 5px;
  background-image: linear-gradient(#2aa6d0, #2aa6d0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.question-3-slider > input[type='range']::-webkit-slider-thumb {
  top: -13px;
  width: 40px;
  height: 40px;
  cursor: grab;
  background: #fff;
  touch-action: none;
  border-radius: 50%;
  position: relative;
  border: 1px solid #999;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.35);
}

.question-3-slider > input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.question-3-slider > .slider-text {
  color: #000 !important;
  font-size: 18px !important;
  font-weight: 700;
  margin: 0 auto 30px !important;
  text-align: center;
  border: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.question-16-form > input {
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: none;
  color: #333;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%;
  -webkit-appearance: none !important;
  max-width: 330px;
  margin: 0 auto;
  display: block;
}

.marketing-policy {
  width: 100%;
  max-height: 240px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  margin-top: 12px;
  padding: 6px 8px;
  font-size: 0.688em;
  text-align: center;
}
