#loan-option-container {
  top: 86px;
  width: 100vw;
  position: relative;
}

.loan-wrapper .section-1-container {
  width: 100vw;
  height: 480px;
  display: flex;
  align-content: center;
  background-color: rgb(249, 249, 249);
}

.loan-wrapper .section-1-content {
  width: 90%;
  /* display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; */
  gap: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 430px) {
  .loan-wrapper .section-1-content {
    grid-template-columns: 1fr;
  }
}

.loan-wrapper .section-1-content > .text-column {
  max-width: 680px;
  justify-self: flex-end;
}

.loan-wrapper .text-column > h1 {
  font-size: 35px;
  font-weight: 700;
}

.loan-wrapper .text-column > p {
  font-size: 18px;
  font-weight: 500;
  padding-right: 30px;
}

.loan-wrapper .btn-container {
  gap: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 430px) {
  .loan-wrapper .btn-container {
    grid-template-columns: 1fr;
  }
}

.loan-wrapper .text-column button {
  color: white;
  font-weight: 500;
  padding: 15px 35px;
  border-radius: 8px;
  letter-spacing: 1px;
  border-color: #2aa6d0;
  text-transform: uppercase;
  background-color: #2aa6d0;
}

.loan-wrapper .text-column .btn-alternative {
  color: rgb(189, 189, 189);
  border-color: rgb(189, 189, 189);
  background-color: rgba(0, 0, 0, 0);
}

.loan-wrapper .section-1-img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 100% !important;
}

.loan-wrapper .section-2-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

.loan-wrapper .section-2-content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding-top: 80px;
  max-width: 1330px;
  align-content: center;
  justify-content: center;
}

.loan-wrapper .heading-container {
  flex-basis: 100%;
  max-width: 1040px;
}

.loan-wrapper .section-2-content h1 {
  z-index: 1;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 5px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid rgb(42, 166, 208);
}

.loan-wrapper .grey-border-bottom {
  top: -2px;
  flex-basis: 100%;
  text-align: center;
  position: relative;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.loan-wrapper .spacer {
  height: 84px;
  flex-basis: 100%;
}

.loan-wrapper .cards-container {
  /* padding: 0;
  display: flex;
  row-gap: 30px;
  flex-basis: 100%;
  column-gap: 30px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: start; */
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1025px) {
  .loan-wrapper .cards-container {
    padding: 50px;
  }
}

@media screen and (max-width: 769px) {
  .loan-wrapper .cards-container {
    padding: 38.4px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 426px) {
  .loan-wrapper .cards-container {
    padding: 15px;
    grid-template-columns: 1fr;
  }
}

.loan-wrapper .card {
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.loan-wrapper .card:hover {
  transform: translateY(-10px);
}

.loan-wrapper .card-title {
  max-width: 35px;
  max-height: 35px;
}

.loan-wrapper .card-title > span::before {
  font-size: 35px;
  color: #2aa6d0;
}

.loan-wrapper .card-body > h5 {
  margin-bottom: 20px;
}

.loan-wrapper .card-body > h2 {
  color: #2aa6d0;
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.loan-wrapper .card-text {
  font-weight: 300;
  font-weight: 18px;
}

.loan-wrapper .section-3-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(249, 249, 249);
}

.loan-wrapper .section-3-container > h1 {
  width: 700px;
  font-size: 55px;
  color: #222222;
  font-weight: 800;
  line-height: 120%;
  padding-top: 60px;
}

@media screen and (max-width: 426px) {
  .loan-wrapper .section-3-container > h1 {
    font-size: 35px;
  }
}

.loan-wrapper .section-3-container > p {
  z-index: 2;
  max-width: 500px;
  font-weight: 300;
}

.loan-wrapper .divider {
  flex-basis: 100%;
}
