/* Change ul to horizontal and add margin between list items */
.list-menu ul > li {
  display: inline-block;
  margin-right: 1rem;
}

/* styling when nav items are at top */
.list-menu a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 800;
  color: white;
}

/* styling when nav items are at top and hovered */
.list-menu a:hover {
  color: #b5b4ba;
}

/* Add a underline at bottom of each list item */
.list-menu a::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust position to control spacing from text */
  left: 50%; /* Start from the center */
  transform: translateX(-50%) scaleX(0); /* Start scaled to 0 */
  width: 100%; /* Full width of the text */
  height: 3px; /* Height of the underline */
  background-color: #b5b4ba; /* Color of the underline */
  transition: transform 0.3s ease; /* Animation effect timing */
}

/* Hover effect: Expand the underline */
.list-menu a:hover::after {
  transform: translateX(-50%) scaleX(1); /* Scale to full width on hover */
}

/* styling when nav items are scrolled */
.list-menu.scrolled a {
  text-decoration: none;
  font-weight: 800;
  color: #666665;
}

/* styling when nav items are scrolled and hovered */
.list-menu.scrolled a:hover {
  color: #2aa6d0;
}

.list-menu.scrolled a::after {
  background-color: #2aa6d0; /* Color of the underline */
}

/* styling for nav items buttons */
.list-menu button {
  width: 142px;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 9px 11px;
  border-color: #2aa6d0;
  background-color: #2aa6d0;
}

/* styling for nav items buttons when hovered */
.list-menu button:hover {
  color: white;
  border-color: #c4c4c4;
  background-color: #c4c4c4;
}

/* styling for hamburger container */
.hamburger {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 17px;
  position: relative;
  right: 50px;
  margin-right: 20px;
}

/* styling for hamburger icon */
.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.bar:nth-child(1) {
  top: 0;
}
.bar:nth-child(2) {
  top: 6px;
}
.bar:nth-child(3) {
  top: 12px;
}

/* Transform bars into X */
.hamburger.active .bar:nth-child(1) {
  top: 5px;
  transform: rotate(135deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  top: 5px;
  transform: rotate(-135deg);
}

.hamburger p {
  position: relative;
  left: 30px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  top: -9px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.hamburger.scrolled p {
  color: black;
}

.hamburger.scrolled .bar {
  background-color: black;
}

.sub-menu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin-top: 10.6px;
  background-color: white;
  min-width: 140px;
}

.sub-menu li {
  display: list-item !important;
  font-weight: 800;
  margin: 0 !important;
  color: rgb(97, 97, 97);
  padding: 8px 12px;
}

.sub-menu li:hover {
  background-color: rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#navbar-container {
  transition: transform 0.3s ease;
}
